.mainFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px; /* Add some padding to ensure it's not right against the edge */
    box-sizing: border-box;
}

.mainForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width */
    max-width: 1200px; /* Optional: Set a maximum width for better readability */
    box-sizing: border-box;
}

.formField {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.formField label {
    min-width: 150px;
    font-weight: bold;
}

.textField {
    flex-grow: 1;
    width: 100%; /* Full width for consistent size */
}

.inlineForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.button {
    margin-top: 20px;
    align-self: flex-start;
}

.stepItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    list-style-type: none; /* Remove the default list style */
}

.stepItem:nth-child(even) {
    background-color: #f9f9f9; /* Add alternating background color for better readability */
}

.add-step-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.stepName {
    flex-grow: 1;
    margin-right: 10px;
}

.stepActions {
    display: flex;
    gap: 10px;
}

.stepReferences {
    display: flex;
    gap: 10px;
}

ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.addStepContainer {
    margin-top: 10px;
}

.addStep {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #1976d2; /* Match the button color */
    gap: 5px;
    margin-top: 10px;
}

.addStep span {
    font-weight: bold;
}

.button {
    margin-top: 20px;
    align-self: flex-start;
}

/* .steps-grid {
    border: 2px solid #1976d2;
    padding: 10px;
    border-radius: 5px;
}

.actions-grid {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
} */